{{> nav}}
<head>
    <style>
        body {
            background-image: linear-gradient(to bottom right, #ff0000, #282828);
        }

    </style>
</head>


<div class="container w-75" >
    <h1  style="color:white; ">Home</h1>
    <br> <br> <br>
    <div id="projectCarousel" class="carousel slide" data-ride="carousel" data-bs-touch="true">
      {{!-- <div class="carousel-indicators" id="carousel-bottom-indicators">
        <button type="button" data-bs-target="#projectCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#projectCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div> --}}
      <div class="carousel-inner">
        <div class="carousel-item active container" id="carousel-item-1">
          <div class = "row">
            <img src='{{freqCh.snippet.thumbnails.high.url}}' class="d-block mx-auto" style="width: 450px" alt="channel thumbnail">
          </div>
          <div class = "row">
             <div class="col-md-6 mx-auto">
              <div class="card bg-transparent border-0" >
              <h5 class="card-title" style="color:white; ">Most Watched Channel</h5>
                <div class="card-body">
                  <p class="card-text" style="color:white; "> {{freqCh.snippet.title}} </p>
                  <a href="https://www.youtube.com/channel/{{freqCh.id}}" class="btn btn-primary" id="url" style="border: #000000; background-color:black">Channel Link</a>
              </div>
            </div>
             </div>
          </div>      
        </div>
        <div class="carousel-item container" id="carousel-item-3">
           <div class = "row">
            {{#if mostWatched.snippet.thumbnails.maxres}}
              <img src={{mostWatched.snippet.thumbnails.maxres.url}} class="d-block w-50 h-50 mx-auto" alt="thumbnail">
            {{else}}
              <img src={{mostWatched.snippet.thumbnails.default.url}} class="d-block w-50 h-50 mx-auto" alt="thumbnail">
            {{/if}}
           </div>
            <div class = "row">
               <div class="col-md-6 mx-auto">
                <div class="card bg-transparent border-0">
                  <h5 class="card-title" style="color:white; ">Most Watched Video</h5>
                  <div class="card-body">
                    <p class="card-text" style="color:white; ">{{mostWatched.snippet.title}}</p>
                    <a href="https://www.youtube.com/watch?v={{mostWatched.id}}" class="btn btn-primary" id="url" style="border: #000000; background-color:black">Video Link</a>
                  </div>
                </div>
               </div>
            </div>
        </div>
      </div>
      <div>
       <button class="carousel-control-prev" type="button" href="#projectCarousel" data-bs-slide="prev" id="carousel-next">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" href="#projectCarousel" data-bs-slide="next" id="carousel-next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
       </button>
      </div>
    </div>
</div>